* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Glossy";
  src: url('./assets/fonts/GlossySheenShine-ow6Wq.ttf');
}

@font-face {
  font-family: "Grooven";
  src: url('./assets/fonts/Grooven-Shine.otf');
}



html, body {
  font-family: "Glossy", sans-serif;
  background: #1b1523;
  color: #a63782;
}